1<<>>derived<<>>execCode(scadaWorkStation,root)
2<<>>primitive<<>>cvss(cve2022_30697,m)
3<<>>primitive<<>>vulExists(scadaWorkStation,cve2022_30697,winKernel,localExploit,privEscalation)
4<<>>derived<<>>execCode(scadaWorkStation,user)
5<<>>derived<<>>netAccess(scadaWorkStation,smbProtocol,smbPort)
6<<>>primitive<<>>hacl(enterpriseWorkStation,scadaWorkStation,smbProtocol,smbPort)
7<<>>derived<<>>execCode(enterpriseWorkStation,user)
8<<>>derived<<>>canAccessHost(enterpriseWorkStation)
9<<>>derived<<>>netAccess(enterpriseWorkStation,rdpProtocol,rdpPort)
10<<>>primitive<<>>hacl(internet,enterpriseWorkStation,rdpProtocol,rdpPort)
11<<>>primitive<<>>attackerLocated(internet)
12<<>>derived<<>>logInService(enterpriseWorkStation,rdpProtocol,rdpPort)
13<<>>primitive<<>>networkServiceInfo(enterpriseWorkStation,rdpd,rdpProtocol,rdpPort,user)
14<<>>primitive<<>>hasAccount(scadaOperator,enterpriseWorkStation,user)
15<<>>derived<<>>principalCompromised(scadaOperator)
16<<>>primitive<<>>inCompetent(scadaOperator)
17<<>>derived<<>>accessMaliciousInput(enterpriseWorkStation,scadaOperator,firefoxBrowser)
18<<>>primitive<<>>hacl(enterpriseWorkStation,internet,httpProtocol,httpPort)
19<<>>primitive<<>>cvss(cve2022_26485,h)
20<<>>primitive<<>>vulExists(enterpriseWorkStation,cve2022_26485,firefoxBrowser,remoteClient,privEscalation)
21<<>>primitive<<>>networkServiceInfo(scadaWorkStation,smbServer,smbProtocol,smbPort,user)
22<<>>primitive<<>>cvss(cve2017_0144,h)
23<<>>primitive<<>>vulExists(scadaWorkStation,cve2017_0144,smbServer,remoteExploit,privEscalation)
