1<<>>derived<<>>execCode(scadaWorkStation,root)
2<<>>primitive<<>>vulExists(scadaWorkStation,cve2022_30697,winKernel,localExploit,privEscalation)
3<<>>derived<<>>execCode(scadaWorkStation,user)
4<<>>derived<<>>netAccess(scadaWorkStation,smbProtocol,smbPort)
5<<>>primitive<<>>hacl(enterpriseWorkStation,scadaWorkStation,smbProtocol,smbPort)
6<<>>derived<<>>execCode(enterpriseWorkStation,user)
7<<>>derived<<>>canAccessHost(enterpriseWorkStation)
8<<>>derived<<>>netAccess(enterpriseWorkStation,rdpProtocol,rdpPort)
9<<>>primitive<<>>hacl(internet,enterpriseWorkStation,rdpProtocol,rdpPort)
10<<>>primitive<<>>attackerLocated(internet)
11<<>>derived<<>>logInService(enterpriseWorkStation,rdpProtocol,rdpPort)
12<<>>primitive<<>>networkServiceInfo(enterpriseWorkStation,rdpd,rdpProtocol,rdpPort,user)
13<<>>primitive<<>>hasAccount(scadaOperator,enterpriseWorkStation,user)
14<<>>derived<<>>principalCompromised(scadaOperator)
15<<>>primitive<<>>inCompetent(scadaOperator)
16<<>>derived<<>>accessMaliciousInput(enterpriseWorkStation,scadaOperator,firefoxBrowser)
17<<>>primitive<<>>hacl(enterpriseWorkStation,internet,httpProtocol,httpPort)
18<<>>primitive<<>>vulExists(enterpriseWorkStation,cve2022_26485,firefoxBrowser,remoteClient,privEscalation)
19<<>>primitive<<>>networkServiceInfo(scadaWorkStation,smbServer,smbProtocol,smbPort,user)
20<<>>primitive<<>>vulExists(scadaWorkStation,cve2017_0144,smbServer,remoteExploit,privEscalation)
