1<<>>derived<<>>canTamper(controlAction20)
2<<>>primitive<<>>controlsFlow(sPLC,controlAction20)
3<<>>derived<<>>execCode(sPLC,root)
4<<>>derived<<>>netAccess(sPLC,_,_)
5<<>>primitive<<>>hacl(genPLC,sPLC,_,_)
6<<>>derived<<>>execCode(genPLC,root)
7<<>>derived<<>>netAccess(genPLC,_,_)
8<<>>primitive<<>>hacl(mainPLC,genPLC,_,_)
9<<>>derived<<>>execCode(mainPLC,user)
10<<>>derived<<>>netAccess(mainPLC,_,_)
11<<>>primitive<<>>hacl(genPLC,mainPLC,_,_)
12<<>>derived<<>>execCode(genPLC,user)
13<<>>primitive<<>>networkServiceInfo(genPLC,dropbearssh,_,_,user)
14<<>>primitive<<>>cvss(cve2016_7406,h)
15<<>>primitive<<>>vulExists(genPLC,cve2016_7406,dropbearssh,remoteExploit,privEscalation)
16<<>>primitive<<>>cvss(cve2016_7407,h)
17<<>>primitive<<>>vulExists(genPLC,cve2016_7407,dropbearssh,remoteExploit,privEscalation)
18<<>>primitive<<>>cvss(cve2016_7408,h)
19<<>>primitive<<>>vulExists(genPLC,cve2016_7408,dropbearssh,remoteExploit,privEscalation)
20<<>>primitive<<>>hacl(mgPLC,mainPLC,_,_)
21<<>>derived<<>>execCode(mgPLC,root)
22<<>>derived<<>>netAccess(mgPLC,_,_)
23<<>>primitive<<>>hacl(genPLC,mgPLC,_,_)
24<<>>primitive<<>>hacl(mainPLC,mgPLC,_,_)
25<<>>primitive<<>>hacl(scadaWorkStation,mgPLC,_,_)
26<<>>derived<<>>execCode(scadaWorkStation,user)
27<<>>derived<<>>canAccessHost(scadaWorkStation)
28<<>>derived<<>>netAccess(scadaWorkStation,rdpProtocol,rdpPort)
29<<>>primitive<<>>hacl(intranet,scadaWorkStation,rdpProtocol,rdpPort)
30<<>>primitive<<>>attackerLocated(intranet)
31<<>>derived<<>>logInService(scadaWorkStation,rdpProtocol,rdpPort)
32<<>>primitive<<>>networkServiceInfo(scadaWorkStation,rdpd,rdpProtocol,rdpPort,user)
33<<>>primitive<<>>hasAccount(scadaOperator,scadaWorkStation,user)
34<<>>derived<<>>principalCompromised(scadaOperator)
35<<>>primitive<<>>inCompetent(scadaOperator)
36<<>>derived<<>>netAccess(scadaWorkStation,smbProtocol,smbPort)
37<<>>primitive<<>>hacl(intranet,scadaWorkStation,smbProtocol,smbPort)
38<<>>primitive<<>>networkServiceInfo(scadaWorkStation,smbServer,smbProtocol,smbPort,user)
39<<>>primitive<<>>cvss(cve2017_0144,h)
40<<>>primitive<<>>vulExists(scadaWorkStation,cve2017_0144,smbServer,remoteExploit,privEscalation)
41<<>>primitive<<>>hacl(tPLC,mgPLC,_,_)
42<<>>derived<<>>execCode(tPLC,root)
43<<>>derived<<>>netAccess(tPLC,_,_)
44<<>>primitive<<>>hacl(genPLC,tPLC,_,_)
45<<>>primitive<<>>hacl(mainPLC,tPLC,_,_)
46<<>>primitive<<>>hacl(mgPLC,tPLC,_,_)
47<<>>derived<<>>execCode(mgPLC,user)
48<<>>primitive<<>>networkServiceInfo(mgPLC,dropbearssh,_,_,user)
49<<>>primitive<<>>cvss(cve2012_6068,h)
50<<>>primitive<<>>vulExists(mgPLC,cve2012_6068,dropbearssh,remoteExploit,privEscalation)
51<<>>primitive<<>>vulExists(mgPLC,cve2016_7406,dropbearssh,remoteExploit,privEscalation)
52<<>>primitive<<>>vulExists(mgPLC,cve2016_7407,dropbearssh,remoteExploit,privEscalation)
53<<>>primitive<<>>vulExists(mgPLC,cve2016_7408,dropbearssh,remoteExploit,privEscalation)
54<<>>primitive<<>>hacl(scadaWorkStation,tPLC,_,_)
55<<>>primitive<<>>networkServiceInfo(tPLC,codesys,_,_,root)
56<<>>primitive<<>>vulExists(tPLC,cve2012_6068,codesys,remoteExploit,privEscalation)
57<<>>derived<<>>execCode(tPLC,user)
58<<>>primitive<<>>networkServiceInfo(tPLC,dropbearssh,_,_,user)
59<<>>primitive<<>>vulExists(tPLC,cve2016_7406,dropbearssh,remoteExploit,privEscalation)
60<<>>primitive<<>>vulExists(tPLC,cve2016_7407,dropbearssh,remoteExploit,privEscalation)
61<<>>primitive<<>>vulExists(tPLC,cve2016_7408,dropbearssh,remoteExploit,privEscalation)
62<<>>primitive<<>>networkServiceInfo(mgPLC,codesys,_,_,root)
63<<>>primitive<<>>vulExists(mgPLC,cve2012_6068,codesys,remoteExploit,privEscalation)
64<<>>primitive<<>>hacl(scadaWorkStation,mainPLC,_,_)
65<<>>primitive<<>>hacl(tPLC,mainPLC,_,_)
66<<>>primitive<<>>networkServiceInfo(mainPLC,dropbearssh,_,_,user)
67<<>>primitive<<>>vulExists(mainPLC,cve2016_7406,dropbearssh,remoteExploit,privEscalation)
68<<>>primitive<<>>vulExists(mainPLC,cve2016_7407,dropbearssh,remoteExploit,privEscalation)
69<<>>primitive<<>>vulExists(mainPLC,cve2016_7408,dropbearssh,remoteExploit,privEscalation)
70<<>>primitive<<>>hacl(mgPLC,genPLC,_,_)
71<<>>primitive<<>>hacl(scadaWorkStation,genPLC,_,_)
72<<>>primitive<<>>hacl(tPLC,genPLC,_,_)
73<<>>primitive<<>>networkServiceInfo(genPLC,codesys,_,_,root)
74<<>>primitive<<>>vulExists(genPLC,cve2012_6068,codesys,remoteExploit,privEscalation)
75<<>>primitive<<>>hacl(mainPLC,sPLC,_,_)
76<<>>primitive<<>>hacl(mgPLC,sPLC,_,_)
77<<>>primitive<<>>hacl(scadaWorkStation,sPLC,_,_)
78<<>>primitive<<>>hacl(tPLC,sPLC,_,_)
79<<>>primitive<<>>networkServiceInfo(sPLC,codesys,_,_,root)
80<<>>primitive<<>>vulExists(sPLC,cve2012_6068,codesys,remoteExploit,privEscalation)
