1<<>>derived<<>>canSpoof(controlAction12)
2<<>>primitive<<>>transportsFlow(shRouter,controlAction12)
3<<>>derived<<>>netAccess(shRouter,_,_)
4<<>>primitive<<>>hacl(genPLC,shRouter,_,_)
5<<>>derived<<>>execCode(genPLC,root)
6<<>>derived<<>>netAccess(genPLC,_,_)
7<<>>primitive<<>>hacl(mainPLC,genPLC,_,_)
8<<>>derived<<>>execCode(mainPLC,user)
9<<>>derived<<>>netAccess(mainPLC,_,_)
10<<>>primitive<<>>hacl(genPLC,mainPLC,_,_)
11<<>>derived<<>>execCode(genPLC,user)
12<<>>primitive<<>>networkServiceInfo(genPLC,dropbearssh,_,_,user)
13<<>>primitive<<>>cvss(cve2016_7406,h)
14<<>>primitive<<>>vulExists(genPLC,cve2016_7406,dropbearssh,remoteExploit,privEscalation)
15<<>>primitive<<>>cvss(cve2016_7407,h)
16<<>>primitive<<>>vulExists(genPLC,cve2016_7407,dropbearssh,remoteExploit,privEscalation)
17<<>>primitive<<>>cvss(cve2016_7408,h)
18<<>>primitive<<>>vulExists(genPLC,cve2016_7408,dropbearssh,remoteExploit,privEscalation)
19<<>>primitive<<>>hacl(mgPLC,mainPLC,_,_)
20<<>>derived<<>>execCode(mgPLC,root)
21<<>>derived<<>>netAccess(mgPLC,_,_)
22<<>>primitive<<>>hacl(genPLC,mgPLC,_,_)
23<<>>primitive<<>>hacl(mainPLC,mgPLC,_,_)
24<<>>primitive<<>>hacl(sPLC,mgPLC,_,_)
25<<>>derived<<>>execCode(sPLC,root)
26<<>>derived<<>>netAccess(sPLC,_,_)
27<<>>primitive<<>>hacl(genPLC,sPLC,_,_)
28<<>>primitive<<>>hacl(mainPLC,sPLC,_,_)
29<<>>primitive<<>>hacl(mgPLC,sPLC,_,_)
30<<>>derived<<>>execCode(mgPLC,user)
31<<>>primitive<<>>networkServiceInfo(mgPLC,dropbearssh,_,_,user)
32<<>>primitive<<>>cvss(cve2012_6068,h)
33<<>>primitive<<>>vulExists(mgPLC,cve2012_6068,dropbearssh,remoteExploit,privEscalation)
34<<>>primitive<<>>vulExists(mgPLC,cve2016_7406,dropbearssh,remoteExploit,privEscalation)
35<<>>primitive<<>>vulExists(mgPLC,cve2016_7407,dropbearssh,remoteExploit,privEscalation)
36<<>>primitive<<>>vulExists(mgPLC,cve2016_7408,dropbearssh,remoteExploit,privEscalation)
37<<>>primitive<<>>hacl(scadaWorkStation,sPLC,_,_)
38<<>>derived<<>>execCode(scadaWorkStation,user)
39<<>>derived<<>>canAccessHost(scadaWorkStation)
40<<>>derived<<>>netAccess(scadaWorkStation,rdpProtocol,rdpPort)
41<<>>primitive<<>>hacl(intranet,scadaWorkStation,rdpProtocol,rdpPort)
42<<>>primitive<<>>attackerLocated(intranet)
43<<>>derived<<>>logInService(scadaWorkStation,rdpProtocol,rdpPort)
44<<>>primitive<<>>networkServiceInfo(scadaWorkStation,rdpd,rdpProtocol,rdpPort,user)
45<<>>primitive<<>>hasAccount(scadaOperator,scadaWorkStation,user)
46<<>>derived<<>>principalCompromised(scadaOperator)
47<<>>primitive<<>>inCompetent(scadaOperator)
48<<>>derived<<>>netAccess(scadaWorkStation,smbProtocol,smbPort)
49<<>>primitive<<>>hacl(intranet,scadaWorkStation,smbProtocol,smbPort)
50<<>>primitive<<>>networkServiceInfo(scadaWorkStation,smbServer,smbProtocol,smbPort,user)
51<<>>primitive<<>>cvss(cve2017_0144,h)
52<<>>primitive<<>>vulExists(scadaWorkStation,cve2017_0144,smbServer,remoteExploit,privEscalation)
53<<>>primitive<<>>hacl(tPLC,sPLC,_,_)
54<<>>derived<<>>execCode(tPLC,root)
55<<>>derived<<>>netAccess(tPLC,_,_)
56<<>>primitive<<>>hacl(genPLC,tPLC,_,_)
57<<>>primitive<<>>hacl(mainPLC,tPLC,_,_)
58<<>>primitive<<>>hacl(mgPLC,tPLC,_,_)
59<<>>primitive<<>>hacl(sPLC,tPLC,_,_)
60<<>>derived<<>>execCode(sPLC,user)
61<<>>primitive<<>>networkServiceInfo(sPLC,dropbearssh,_,_,user)
62<<>>primitive<<>>vulExists(sPLC,cve2016_7406,dropbearssh,remoteExploit,privEscalation)
63<<>>primitive<<>>vulExists(sPLC,cve2016_7407,dropbearssh,remoteExploit,privEscalation)
64<<>>primitive<<>>vulExists(sPLC,cve2016_7408,dropbearssh,remoteExploit,privEscalation)
65<<>>primitive<<>>hacl(scadaWorkStation,tPLC,_,_)
66<<>>primitive<<>>networkServiceInfo(tPLC,codesys,_,_,root)
67<<>>primitive<<>>vulExists(tPLC,cve2012_6068,codesys,remoteExploit,privEscalation)
68<<>>derived<<>>execCode(tPLC,user)
69<<>>primitive<<>>networkServiceInfo(tPLC,dropbearssh,_,_,user)
70<<>>primitive<<>>vulExists(tPLC,cve2016_7406,dropbearssh,remoteExploit,privEscalation)
71<<>>primitive<<>>vulExists(tPLC,cve2016_7407,dropbearssh,remoteExploit,privEscalation)
72<<>>primitive<<>>vulExists(tPLC,cve2016_7408,dropbearssh,remoteExploit,privEscalation)
73<<>>primitive<<>>networkServiceInfo(sPLC,codesys,_,_,root)
74<<>>primitive<<>>vulExists(sPLC,cve2012_6068,codesys,remoteExploit,privEscalation)
75<<>>primitive<<>>hacl(scadaWorkStation,mgPLC,_,_)
76<<>>primitive<<>>hacl(tPLC,mgPLC,_,_)
77<<>>primitive<<>>networkServiceInfo(mgPLC,codesys,_,_,root)
78<<>>primitive<<>>vulExists(mgPLC,cve2012_6068,codesys,remoteExploit,privEscalation)
79<<>>primitive<<>>hacl(sPLC,mainPLC,_,_)
80<<>>primitive<<>>hacl(scadaWorkStation,mainPLC,_,_)
81<<>>primitive<<>>hacl(tPLC,mainPLC,_,_)
82<<>>primitive<<>>networkServiceInfo(mainPLC,dropbearssh,_,_,user)
83<<>>primitive<<>>vulExists(mainPLC,cve2016_7406,dropbearssh,remoteExploit,privEscalation)
84<<>>primitive<<>>vulExists(mainPLC,cve2016_7407,dropbearssh,remoteExploit,privEscalation)
85<<>>primitive<<>>vulExists(mainPLC,cve2016_7408,dropbearssh,remoteExploit,privEscalation)
86<<>>primitive<<>>hacl(mgPLC,genPLC,_,_)
87<<>>primitive<<>>hacl(sPLC,genPLC,_,_)
88<<>>primitive<<>>hacl(scadaWorkStation,genPLC,_,_)
89<<>>primitive<<>>hacl(tPLC,genPLC,_,_)
90<<>>primitive<<>>networkServiceInfo(genPLC,codesys,_,_,root)
91<<>>primitive<<>>vulExists(genPLC,cve2012_6068,codesys,remoteExploit,privEscalation)
92<<>>primitive<<>>hacl(mainPLC,shRouter,_,_)
93<<>>primitive<<>>hacl(mgPLC,shRouter,_,_)
94<<>>primitive<<>>hacl(sPLC,shRouter,_,_)
95<<>>primitive<<>>hacl(scadaWorkStation,shRouter,_,_)
96<<>>primitive<<>>hacl(tPLC,shRouter,_,_)
97<<>>derived<<>>canSpoof(controlAction2)
98<<>>primitive<<>>transportsFlow(routerCsw2,controlAction2)
99<<>>derived<<>>netAccess(routerCsw2,_,_)
100<<>>primitive<<>>hacl(genPLC,routerCsw2,_,_)
101<<>>primitive<<>>hacl(mainPLC,routerCsw2,_,_)
102<<>>primitive<<>>hacl(mgPLC,routerCsw2,_,_)
103<<>>primitive<<>>hacl(sPLC,routerCsw2,_,_)
104<<>>primitive<<>>hacl(scadaWorkStation,routerCsw2,_,_)
105<<>>primitive<<>>hacl(tPLC,routerCsw2,_,_)
106<<>>derived<<>>canSpoof(controlAction4)
107<<>>primitive<<>>transportsFlow(mainRouter,controlAction4)
108<<>>derived<<>>netAccess(mainRouter,_,_)
109<<>>primitive<<>>hacl(genPLC,mainRouter,_,_)
110<<>>primitive<<>>hacl(mainPLC,mainRouter,_,_)
111<<>>primitive<<>>hacl(mgPLC,mainRouter,_,_)
112<<>>primitive<<>>hacl(sPLC,mainRouter,_,_)
113<<>>primitive<<>>hacl(scadaWorkStation,mainRouter,_,_)
114<<>>primitive<<>>hacl(tPLC,mainRouter,_,_)
115<<>>derived<<>>canTamper(controlAction12)
116<<>>primitive<<>>controlsFlow(sPLC,controlAction12)
